/* 清楚不必要 */
*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;	
}
/* 头部样式 */
#header{
	height: 10px;
	width: 100%;
	background-color: #b233b2;
}
a{
	color: white;
}
/* 导航栏 样式*/
.nav{
	height: 50px;
	width: 100%;
	background-color: #F365B4;
	display: flex;
	justify-content: space-evenly;
}
.nav-left li{
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #F365B4;
	float: left;
    padding-left: 2px;
}
.nav-right li{
	margin-left: 600px;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #F365B4;
	/* border-right: 1px solid #fff; */
	float: left;
}
/* 鼠标移动到导航栏时一级菜单背景变色*/
.nav li:hover{
	background-color: #FED5F2;
}

/* 下拉菜单 鼠标悬浮二级菜单呈块状*/
.nav li:hover {
	display: block;
}
#main{
	background-color: #1C1B1F;
	height: 1400px;
	width: 100%;
}
.picture{
	width: 65%;
}
.picture img{
	margin-left:250px;
	/* margin-top: 30px; */
	width:100%;
	opacity: 0.7;
	height: 400px;
	background-color: #FED5F2;
}
.logo{
	width: 65%;
}
.logo img{
	height: 200px;
	margin-left:250px;
	margin-top: 30px;
	width:100%;
}
.introduction{
	background-color: #3D3946;
	height: 40px;
	width:100%;
	border-radius: 10px;
	box-shadow: 0 5px 5px #333;
	margin-left:250px;
}
.introduction p{
	font-size: 15px;
	color: white;
	margin-left: 20px;
}
.introduction p:hover{
	color: #BB1177;
}

.music1{
	/* height: 230px; */
	background-color: #302E38;
	width:65%;
	margin-top: 30px;
	margin-left:250px;
	justify-content: space-between;
	display: flex;	
}
.music-left img{
	width:100%;
	height: 200px;
}
.music-left a{
	color: white;
	margin-left: 0px;
}
.music1 a:hover{
	color:#BB1177 ;
}
.music-middle img{
	width: 100%;
	height: 200px;
	margin-left: 10px;
}
.music-middle{
    background-color: #302E38;
	width:65%;	
}
.music-middle a{
	color: white;
	margin-left: 10px;
}
.music-right{
	 background-color: #302E38;
	 width:65%;
}
.music-right img{
	width: 97%;
	height: 200px;
	margin-left: 10px;
}
.music-right a{
	color: white;
	margin-left: 10px;
}
.music2{
	/* height: 230px; */
	background-color: #302E38;
	width:65%;
	margin-top: 30px;
	margin-left:250px;
	justify-content: space-between;
	display: flex;	
}
.music2-left img{
	width: 300px;
	height: 240px;
}
.music2-left a{
	color: white;
	margin-left: 0px;
}
.music2 a:hover{
	color:#BB1177 ;
}
.music2-middle{
    background-color: #302E38;
	width:65%;	
}
.music2-middle img{
	width: 100%;
	height: 240px;
	margin-left: 10px;
}
.music2-middle a{
	color: white;
	margin-left: 10px;
}
.music2-right{
	 background-color: #302E38;
	 width:65%;
}
.music2-right img{
	width: 97%;
	height: 240px;
	margin-left: 10px;
}
.music2-right a{
	color: white;
	margin-left: 10px;
}
.point{
	height: 25px;
	width: 150px;
	background-color: #494554;
	margin-left: 680px;
	margin-top: 30px;
	box-shadow: 0 3px 5px  #615c70;
	border-radius: 10px;
}
.point a:hover{
	color: #FFDDEE;
	font-size: 20px;
	margin-left: 0px;
}
/* 尾部 */
#foot{
	margin-top: 20px;
	width: 100%;
	height: 300px;
	/* margin-left: 200px; */
	background-color: #060606;
	line-height: 30px;
}
.foot1 ul{
	display: flex;
	justify-content: space-evenly;
    padding-top: 30px;
	margin-left: 0px;
}
.foot1 li a{
	color: #FFDDEE;
	font-size: 15px;
}
.foot2  ul{
	display: flex;
	justify-content: space-evenly;
}
.foot2 li a{
	color: #FFDDEE;
	font-size: 15px;
	margin-left: 0px;
}
.foot3  ul{
	display: flex;
	justify-content: space-evenly;
}
.foot3 li a{
	color: #FFDDEE;
	font-size: 15px;
	margin-left: 0px;
}
.foot4  ul{
	display: flex;
	justify-content: space-evenly;
}
.foot4 li a{
	color: #FFDDEE;
	font-size: 15px;
	margin-left: 0px;
}
.foot5  ul{
	display: flex;
	justify-content: space-evenly;
}
.foot5 li a{
	color: #FFDDEE;
	font-size: 15px;
	margin-left:0px;
}
.foot6{
	margin-top: 30px;
	display: flex;
}
.foot6 img{
	height: 40px;
	width: 3%;
	margin-left:600px;
	opacity: 0.5;
}
.foot6 p{
	color:white;
	font-family: initial;
	margin-left: 20px;
}
